name: web_admin
description: Weebi Web Admin
publish_to: 'none'
version: 1.0.2+3

environment:
  sdk: '>=3.3.1 <4.0.0'

# avoid risking `flutter pub upgrade --major-versions`
# prefer `flutter pub outdated`
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0
  shared_preferences: ^2.2.2
  provider: ^6.1.2
  go_router: ^13.2.0
  google_fonts: ^6.2.1
  pointer_interceptor: ^0.10.1
  flutter_form_builder: ^9.0.0
  form_builder_validators: ^9.0.0
  form_builder_asset_picker: #^1.1.1 Error: The getter 'caption' isn't defined for the class 'TextTheme'.
    git:
      url : https://github.com/hazem-saeed/form_builder_asset_picker
  awesome_dialog: ^3.2.0

  grpc: ^4.0.1 # grpc_web not exported from protos
  flutter_dotenv: ^5.2.1

  protos_weebi: ^1.0.16 # export protos
  models_weebi: any
  mixins_weebi : any # target ^1.1.6+2 at least which exports weebi_models

  auth_weebi: ^1.0.6
  boutiques_weebi: ^1.0.6
  devices_weebi: ^1.0.6
  users_weebi: ^1.0.6
  accesses_weebi: ^1.0.6
  gatekeeper_weebi: ^1.0.6

dependency_overrides:
  # All these dependencies are for form_builder_asset_picker.
  # Can remove all overrides if not using form_builder_asset_picker package.
  intl: ^0.19.0
  ffi: ^2.0.1
  flutter_form_builder: ^7.2.1
  form_builder_validators: ^8.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^3.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/app_logo.png
    - assets/dotenv_lcl.txt
    - assets/dotenv_dev.txt
    - assets/dotenv_prd.txt

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_intl:
  enabled: true
  class_name: Lang
  main_locale: en
